body 
{   font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 50px ;
    padding: 50px ;         }

header 
{   background-color: #353535;
    color: #fff;
    text-align: center;
    padding: 20px;   
    font-size: 20px;
    position: top; }
    

h1 
{    font-size: 36px;    }

.navbar {
    background-color: #FFE4E1;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;	}

nav ul 
{   list-style-type: none;
    padding: 10;   }

nav li 
{   display: inline;
    margin-right: 30px; 
    padding: 50; }
    


section 
{   background-color: #ffffff;
    color: #000000;
    text-align: left;
    padding: 20px;  }

footer 
{   background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px; 
    float: none;
    font-size: 20px;	}

p
{   
    Font-size: 20px;
    width: 75%
}
   

/*Dropdown*/

/* het woordje dropown zonder je muis erop*/
    .dropdown {
      float: left;
      overflow: hidden;
      display: block;
      border-radius: 0px; 
      font-family: 'Arial', sans-serif;
      color: #000000;
    }
    
/*zodra je op Dropdown zit*/
    .dropdown .dropbtn {
      font-size: 22px;  
      border: none;
      outline: none;
      color: #000000;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      font-weight: 700;
    }
    
    
/*het dropdown menu als je muis erop zit*/  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 10px rgba(0,0,0,0.2);
      z-index: 1;
      display: none;
      border-radius: 5px;
      top: 55px;
      white-space: normal;
      padding: 5px;
      
    }
    
    
    
    .dropdown-content  a {
            color: #333;
            text-decoration: none;
            padding: 12px 16px;
           display: block;
           border-radius: 10px;
        transition: background-color 0.3s;
            text-align: left;
            float: none;
    }
    

    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
    .dropdown-submenu
    {
        color: #333;
            text-decoration: none;
            padding: 12px 16px;
           display: block;
           border-radius: 10px;
        transition: background-color 0.3s;
            text-align: left;
            float: none;
    }
    
    .submenu-content
    {
        background-color: #ddd;
    }
